
:host .app-user-feed {
	&__wrapper {
	  max-width: 1024px;
	  margin: 0 auto;
	  padding: 0 0px;
	}

	&__row:after {
		content: "";
		display: table;
		clear: both;
	  }

	&__container{
		border: 1px solid #2196F3;
		font-size: 0.8rem;
		padding: 3% 2%;
		margin: 2% auto;
	}
}