.header_block{
    min-height: 55px;
    margin: -10px 0px 0px -10px;
    background:#000 linear-gradient(-35deg, #0066a1 0%, #003478 40%, #081026 100%) repeat scroll 0 0;filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#081026', endColorstr='#0066a1', GradientType=1);
        background-color: #2b86b2;
}


.header_block h2 {    
    margin: auto;
    font-size: 25px;
    color: #fff;
    font-family: centrale-sans;
    text-align: center;
    padding: 15px;
}

.header_block .pageMenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_block .pageMenu li {
    display: inline;
    line-height: 55px;
    font-size: 16px;
    font-weight: 600;
}

.header_block .pageMenu li a {
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    outline: 0;
}

.header_block .pageMenu li a.active {
    border-bottom: 5px solid #fff;
}

.header_block .pageMenu li a:hover {
    border-bottom: 5px solid #1569c7;
    color: #fff;
}

.header_block .navbar {
    margin-bottom: 0px;
}

.header_block .navbar .top-nav {
    list-style: none;
    margin: 5px 8px;
    padding: 0;
    position: relative;
    white-space: nowrap;
    line-height: 43px;
    float: right;
    width: auto;
}

.header_block .navbar .top-nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}